@model Bookish.Models.BookshelfModel
@using Bookish.Controllers

@{
    ViewData["Title"] = "Books";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Books[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Books[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Books[0].Genre)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => book.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => book.Genre)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@book.Id">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@* <div class="text-center">
    <h1 class="display-4">Book Catalogue</h1>
    <p>@Html.TextBox("searchinput") <button>Search</button></p>
    @foreach (var book in Model.Books)
    {
    <p>Name: @book.Name</p><br>
    <p>Author: @book.Author</p><br>
    <p>Genre: @book.Genre</p><br>
    }
</div> *@
